<ion-header>
    <ion-toolbar>

        <ion-grid>
            <ion-row>
                <ion-col col-3>
                    &nbsp; &nbsp; <img class="image" src={{Userimage}} />
                </ion-col>
                <ion-col col-7>
                    <h4> {{Username}}</h4>


                </ion-col>
                <ion-col col-2>

                    <button type="button" class="btn btn-default" (click)="logout()" aria-label="Left Align">
 <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
</button>
                </ion-col>

            </ion-row>
        </ion-grid>

    </ion-toolbar>
</ion-header>
<ion-content padding class="chat">
    <div class="messages">
        <div class="message" *ngFor="let item of arr | async" [ngClass]="{'me': email== item.email}">
 <img src="{{item.senderimage}}" class="avatar" *ngIf="email!= item.email"> {{ item.message }}

            <span class="date">{{ item.createdAt | date:'medium' }}</span>
        </div>
    </div>



</ion-content>
<ion-footer>
    <ion-toolbar>

        <ion-grid>
            <ion-row>
                <ion-col col-8>
                    <ion-input placeholder=" Message..." #field></ion-input>
                </ion-col>
                <ion-col col-1>
                    <button ion-button style="margin-left: 5mm;" (click)="add(field)" round>Send</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
